
*{
	padding: 0%;
	margin: 0%;
	outline: 0;
	border: 0;
	color: #abb2bf;
	background-color: rgb(28, 32, 37);
	font-size: 10px;
	line-height: 22px;
	font-weight: 400;
	tab-size:4;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

*::selection{
	background-color: rgba(62,69,87,0.4);
}

textarea{
	width: 100%;
	height: 100%;
	font-size: medium;
}

#maind {
	cursor: default;
	position: absolute;
	overflow: auto;
	top: -1000px;
	max-height: 40%;
	max-width: 80%;
	font-size: 15px;
	z-index: 10;
	padding: 7px;
	background-color: #1e1f23 !important;
}
#maind * {
	background-color: inherit;
	font-size: 15px !important;
}
#main,#tab2,#tab3{
	counter-reset: mytitle 0;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	line-height: 22px;
}
#main,#tab3{
    padding-left: 10px;
	padding-right: 9px;
	width: calc(100% - 19px);
}
#main *{
	background-color: inherit;
}

#ball{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
}
#input{ 
	position: absolute;
	left: 0;
	top: 0px;
   font-size: 14px;
   width: calc(100% - 40px);
   height: 2000% ;
   opacity: 0.1;
   padding-left: 40px;
   filter: brightness(0);
   caret-color: rgb(0, 208, 255);
}
#output{
	height: 2000%;
	width: 100%;
}

q{
	color: #79c379;
}
a,.T{
	color: #61afef;
	font-weight: 450;
}

.T[mytext=""]{
	cursor: default;
}
li:not(.code li){
    color:#79c3af;
	padding-left: 10px;
	padding-right: 10px;
}

button{
	background-color: coral;
}

.title{
	font-size: 1.3em !important;
	transition-duration: 0.75s;
	font-weight: 450;
}
.title::before{
	counter-reset: my_small_title 0;
   /* content: counter(mytitle);*/
    counter-increment: mytitle 1;
	padding-right: 10px;
	padding-left: 5px;
}
.small_li{
	transition-duration: 0.75s;
    font-size: 1.0em;
	padding: 3px;
	padding-left: 18px;
}

.title:hover,.small_title:hover{
	filter: contrast(0.92);
}
.code:not(#output) {
	cursor: default;
	font-weight: 400;
	font-size: 15px;
	background-color: rgb(35, 40, 46) !important;
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 80vh;
	counter-reset: mycount 0;
}

.install{
	opacity: 0;
	transition-duration: 0.5s;
	transition-delay: 0.25s;
	position: relative;
	top: -20px;
	left: 88%;
	line-height: 20px;
	font-size: 14px;
	width: 12%;
	color: inherit;
	background-color: gray !important;
	filter: brightness(0.8);
	border-radius: 3px;
	vertical-align:middle;
}
.ther:hover .install{
	opacity: 1;
}
.install:active{
	filter: brightness(1.1);
	transition-delay: 0s;
}
.code li::before {
	display: inline-block;
	width: 40px;
	content: counter(mycount);
	filter: brightness(0.5);
	text-align: center;
	padding-right: 2px;
}
.code li{
	cursor: default;
	display: block;
	counter-increment: mycount 1;
	color: #abb2bf;
	font-size: medium;
	font-weight: 400;
	line-height: 23px;
}
.code li *,.code *{
	font-size: medium;
}
.code li:hover > * {
	filter: contrast(0.82);
}
.code li:hover > *:first-child{
	filter: contrast(1);
}
.code li:hover {
	filter: contrast(0.93);
}
.code li:hover::before {
	color: #abb2bf;
	filter:brightness(1.05);
}
.code li pre{
	font-weight: 400;
	letter-spacing:0.1px;
} 

.note{
	top: 10px;
	position: relative;
	text-align: center;
	
}
